.decoration {

	&--company {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-top: 50px;
		margin-bottom: 50px;
		@media screen and (max-width: 800px){
			justify-content: center;
		}
	}

	@media screen and (max-width: 930px) {
		margin-top: 100px;
	}

	&__wrapper {
		overflow: hidden;

		&--company {
			height: 400px;
			border-radius: 100%;

			@media screen and (max-width: 1200px){
				height: 300px;
			}

			@media screen and (max-width: 800px){
				height: 300px;
				width: 300px;
			}
		}
	}

	&__img {
		width: 100%;

		@media screen and (max-width: 530px) {
			height: 200px;
		}
		&--company {
			height: 100%;
		}
	}
}