
.gallery {
	padding-bottom: 48px;

	@media screen and (max-width: 930px) {
		margin-top: 86px;
	}

	@media screen and (max-width: $tableWidth) {
		padding-bottom: 0px;
	}

	&--all-projects {
		display: none;
		@media screen and (max-width: $tableWidth) {
			display: block;
			justify-content: flex-start;
			border-bottom: 1px solid #CACACA;
		}
	}

	@media screen and (max-width: $tableWidth) {
		.spacer-md {
			display: none;
		}
	}


	.grid {
		margin-bottom: 40px;
		&__heading {
			margin-bottom: 48px;
		}

		&__heading-text {
			font-size: 64px;
			font-weight: bold;
			color: $c-black;

			@media screen and (max-width: 900px) {
				font-size: 46px;
			}

			@media screen and (max-width: $tableWidth) {
				font-size: 40px;
			}
		}
		&__box {
			position: relative;
			display: grid;
			grid-column-gap: 24px;
			grid-row-gap: 40px;
			grid-template-columns: repeat(3, 1fr);

			@media screen and (max-width: $tableWidth) {
				grid-template-columns: 1fr;
			}


		}

		&__box-link {
			position: relative;
			z-index: 1;
			overflow: hidden;
			text-decoration: none;
			

			&--action {
				cursor: default;
			}

			&:hover {
				.grid__box-decor {
					&--more {
						&:before {
							opacity: 0;
						}
					}
				}
				.grid__box-img {
					transition: transform .3s ease-in;
					transform: scale(1.2);
				}
			}
		}

		&__box-img {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: inherit;

			transition: transform .3s ease-out;
		}

		&__box-item {
			&--action {
				height: 300px;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				@media screen and (max-width: 768px) {
					height: 170px;
				}
			}
		}

		.grid__box-decor {
			position: relative;
			height: 364px;
			overflow: hidden;
			margin-bottom: 16px;

			&--more {
				&:before {
					transition: opacity .3s;
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: #ffffff;
					opacity: 0.5;
					z-index: 1;
				}
			}



			@media screen and (max-width: 1300px) {
				height: 300px;
			}

			@media screen and (max-width: $tableWidth) {
				height: 400px;
			}
		}

		&__box-info {
			width: 100%;

			bottom: -20px;
		}

		&__box-heading {
			margin-bottom: 5px;

			font-size: 15px;
			font-family: 'Inter-Medium';
			line-height: 150%;
			letter-spacing: 0.02em;

			color: $c-dark;

			text-transform: uppercase;
		}

		&__box-subheading {
			font-size: 15px;
			line-height: 150%;
			letter-spacing: -0.01em;

			color: $c-textGrey;
		}

		&__box-allProjects {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__box-allProjects-decor {
			display: flex;
			width: 120px;
			height: 120px;
			justify-content: center;
			align-items: center;
			margin-right: 30px;

			background-color: $c-accentOrange;
			
			border-radius: 100%;
			cursor: pointer;
			transition: background-color .3s;

			&:hover {
				background-color: $c-hoverOrange;
			}
		}

		@media screen and (max-width: 768px) {
			&:nth-child(1),
			&:nth-child(8) {
				grid-row: auto;
				grid-column: auto;
			}
		}
	}
}