<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intime</title>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
	<div id="main">
		<!------ HEADER START ------>
		<header class="header">
			<div class="header__items">
				<div class="header__items-left">
					<div class="logo">
						<a class="logo__link" target="_self" href="/">
							<img class="logo__img" src="../assets/icons/logo.svg"/>
						</a>
					</div>
				</div>
				<div class="header__items-midle">
					<nav class="menu">
						<ul class="menu__list-upper">
							<li class="menu__list-item"><a href="/projects.html" class="menu__list-link">Наши проекты</a></li>
							<li class="menu__list-item"><a href="/company.html" class="menu__list-link">Компания</a></li>
							<li class="menu__list-item"><a href="" class="menu__list-link">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="header__items-right">
					<div class="call">
						<a class="call__number" href="tel:+79054809041">+7 905 480-90-41</a>
						<a class="call__decor" href="tel:+79054809041">
							<img class="call__icon" src="../assets/icons/phone.svg" alt="phone" />
						</a>
					</div>
					<nav class="menu-mobile">
						<input type="checkbox" class="menu-mobile__opener" id="mobile-menu-opener"/>
						<label class="menu-mobile__label" for="mobile-menu-opener">
							<span class="menu-mobile__icon"></span>
						</label>
						<ul class="menu-mobile__list-upper">
							<li class="menu-mobile__list-item"><a href="/projects.html" class="menu-mobile__list-link">Наши проекты</a></li>
							<li class="menu-mobile__list-item"><a href="/company.html" class="menu-mobile__list-link">Компания</a></li>
							<li class="menu-mobile__list-item"><a href="" class="menu-mobile__list-link">Контакты</a></li>
						</ul>
						<div class="menu-mobile__list-upper-overlay"></div>
					</nav>
				</div>
			</div>
		</header>
		<!------ HEADER END ------>

		<!------ ABOUTE START ------>
		<section class="aboute aboute--without-border">
			<div class="aboute__container">
				<div class="aboute__empty"></div>
				<div class="aboute__company">
					<div class="aboute__heading">
						<div class="aboute__heading-text aboute__heading-text--small">
							<p>Контакты</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!------ ABOUTE END ------>

		<!------ CONTACTS START ------>
		<section class="contacts">
			<div class="contacts__container contacts__container--real-page">
				<div class="contacts__name">
				</div>
				<div class="contacts__items">
					<div class="contacts__item">
						<div class="contacts__item-heading">
							<p class="contacts__item-heading-text">Юридический адрес / Почтовый адрес</p>
						</div>
						<div class="contacts__item-subheading">
							<p class="contacts__item-subheading-text">127015, ул. Новодмитровская, д.2, корпус 1 БЦ «Савеловский Сити»</p>
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__item-heading">
							<p class="contacts__item-heading-text">Телефон</p>
						</div>
						<div class="contacts__item-subheading">
							<a class="contacts__item-subheading-link" href="tel:+74997144043">+7 499 714 40 43</a>
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__item-heading">
							<p class="contacts__item-heading-text">Электронная почта</p>
						</div>
						<div class="contacts__item-subheading">
							<a class="contacts__item-subheading-link" href="mailto:info@relyde-project.ru">info@relyde-project.ru</a>
						</div>
					</div>
				</div>
				<div class="contacts__items contacts__items--mobile">
					<div class="contacts__item">
						<div class="contacts__item-subheading">
							<a class="contacts__item-subheading-link phone" href="tel:+74997144043">+7 499 714 40 43</a>
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__item-subheading">
							<p class="contacts__item-subheading-text">127015, ул. Новодмитровская, д.2, корпус 1 БЦ «Савеловский Сити»</p>
						</div>
					</div>
					<div class="contacts__item">
						<div class="contacts__item-subheading">
							<a class="contacts__item-subheading-link mail" href="mailto:info@relyde-project.ru">info@relyde-project.ru</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!------ CONTACTS END ------>
	</div>

	<!------ MAP START ------>
	<section id="map" class="map">
		<div class="map__item">
			<iframe 
				src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d32592.885211485518!2d37.57589708690714!3d55.79101907537502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zMTI3MDE1LCDRg9C7LiDQndC-0LLQvtC00LzQuNGC0YDQvtCy0YHQutCw0Y8sINC0LjIsINC60L7RgNC_0YPRgSAgMSDQkdCmIA!5e0!3m2!1sru!2sru!4v1646380163502!5m2!1sru!2sru"
				width="100%"
				height="100%"
				style="border:0;"
				allowfullscreen=""
				zoom="0"
				loading="lazy"
				frameborder="0"
				scrolling="no"
				marginheight="0"
				marginwidth="0"
			>
			</iframe>
		</div>
	</section>
	<!------ MAP END ------>

	<!------ FOOTER START ------>
	<footer class="footer">
		<div class="footer__container">
			<div class="footer__about">
				<div class="footer__about-left">
					<div class="logo logo--footer">
						<a class="logo__link" target="_self" href="/">
							<img class="logo__img" src="../assets/icons/logo-white.svg"/>
						</a>
					</div>
				</div>
				<div class="footer__about-right">
					<div class="footer__phone">
						<a class="footer__phone-link" href="tel:+74997144043">+7 499 714-40-43</a>
					</div>
					<div class="footer__address">
						<p class="footer__address-text">
							127015, ул. Новодмитровская, д.2, корпус
						</p>
						<p class="footer__address-text">
							1 БЦ «Савеловский Сити»
						</p>
					</div>
					<div class="footer__mail">
						<a class="footer__mail-link" href="mailto:info@sob.ru">info@sob.ru</a>
					</div>
				</div>
				
			</div>
			<div class="footer__copyright">
				<div class="footer__copyright-defer">
					<a href="" class="footer__copyright-link">© Все права защищены</a>
				</div>
				<div class="footer__copyright-more">
					<a href="" class="footer__copyright-link">Условия пользования</a>
					<a href="" class="footer__copyright-link">Политика приватности</a>
				</div>
			</div>
		</div>
	</footer>
	<!------ FOOTER END ------>

    <!-- <script
      src="http://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
      async
    ></script> -->
</body>
</html>